
p{
  font-family: 'Aileron thin', arial;  
  font-size: 2em;
}


/*BLOCK ARTICLE 1 */


#artist_name img{
    height:auto;
    width:70%;
}

#carre_couleur{
    height:300px;
    width: 55%;
    background-color:#8d3939;
    margin-left: 11px;
    margin-top: -30px;
}


#ref_couleur h4{
    font-family: 'Aileron thin', arial;
    margin-left: 11px;
    font-size: 2em;
}

#article_white p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#album_ref{
    display: flex;
}

#album_ref h4{
   font-family: 'Aileron thin', arial;
   margin-left: 11px;
   font-size: 2em; 
   padding-top: 100px;
    
}




/*BLOCK ARTICLE 2 */


#article_black{
    background-color: #212121;
    margin-top: 13px;
}

#article_black p{
    color: white;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
   
}









/*BANNIERE */